// Bootstrap variable customization
// See all variables available at: ~bootstrap/scss/_variables.scss

// Colors
$theme-colors: (
  'maroon-lt': $maroon-lighten-20,
  'maroon': $maroon-base,
  'maroon-dk': $maroon-darken-20,
  'gray-lt': $light-gray-base,
  'gray-dk': $dark-gray-base,
  'beige-lt': $beige-lighten-20,
  'beige': $beige-base,
  'beige-dk': $beige-darken-50,
  'blue-lt': $blue-lighten-30,
  'blue-brt': $bright-blue-base,
  'blue': $blue-base,
  'blue-dk': $blue-darken-25,
  'green-lt': $green-lighten-30,
  'green-brt': $bright-green-base,
  'green': $green-base,
  'green-dk': $green-darken-25,
  'gold-lt': $gold-lighten-30,
  'gold-brt': $bright-gold-base,
  'gold': $gold-base,
  'gold-dk': $gold-darken-25,
  'purple-lt': $purple-lighten-30,
  'purple': $purple-base,
  'purple-dk': $purple-darken-15,
  'bridgeport': $bridgeport-pink-base,
  'p-text': $paragraph-text,
  'sec-menu': $secondary-menu,
  'primary': $maroon-base,
  'success': $bright-green-base,
  'info': $bright-blue-base,
  'warning': $bright-gold-base,
);

// Fonts
$headings-font-family: 'Roboto Slab', serif;
$font-family-base: 'Roboto', sans-serif;
$font-family-monospace:'Roboto Mono', monospace;

// Buttons
$btn-border-radius: 0.25rem;

// Cards
$card-border-width: rem-calc(1px);

// Spacing
// Bootstrap Spacers use $spacer var of 1rem and assumes browser 16px default.
// Updating the values in $spacers list adds the value to Bootstrap's utility spacers.
// Example, the below adds a mb-6 utility spacing class.
$spacer: 1rem;
$spacers: (
  6: $spacer * 4,
);

// Bootstrap non-printing tools. DO NOT REMOVE, because Sass overrides must be
// defined BEFORE the !default values are.
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
