// Custom colors variables and mixins

$maroon-lighten-20: #A56463;
$maroon-base: #723130;
$maroon-darken-20: #3F0000;
$light-gray-base: #B1B4B5;
$dark-gray-base: #818387;
$beige-lighten-20: #F3E9CA;
$beige-base: #E3CDA4;
$beige-darken-50: #6C5E42;
$blue-lighten-30: #96DAED;
$blue-base: #498DA0;
$bright-blue-base: #4AC1E0;
$blue-darken-25: #094D60;
$green-lighten-30: #C0DA80;
$green-base: #738D33;
$bright-green-base: #80BC00;
$green-darken-25: #334D00;
$gold-lighten-30: #FFE171;
$gold-base: #BE9424;
$bright-gold-base: #FFB600;
$gold-darken-25: #7E5400;
$purple-lighten-30: #AFA2C5;
$purple-base: #625578;
$purple-darken-15: #3C2F52;
$bridgeport-pink-base: #DF715D;
$paragraph-text: #464646;
$secondary-menu: #1B1E25;

