{% embed '@protons/demo/demo-block.twig' with {
  demo: svg_demo_block
} %}

  {% block content %}
    <p class="subtext">Note: If you’ve exported from Illustrator or Sketch you should be good to use the svgs directly.
      However if you’ve used Inkscape, there are some issues with the added markup from the application. Use the
      following fiddle to clean extra markup:
      <a href="https://jsfiddle.net/alexanderby/31nmr8f7/">https://jsfiddle.net/alexanderby/31nmr8f7/</a></p>

    <h5>SVG File Techniques Overview</h5>
    <div class="table-responsive">
      <table class="table mt-2">
        <thead>
        <tr>
          <th scope="col">Method</th>
          <th scope="col">Example</th>
          <th scope="col">Output</th>
          <th scope="col">Sizing</th>
          <th scope="col">Change Color</th>
          <th scope="col">Rendered HTML</th>
        </tr>
        </thead>
        <tbody>

        <tr>
          <th scope="row" class="text-nowrap">
            <a href="#svg-raw">Inline
              SVG:<br>Raw</a>
          </th>
          <td>
<pre><code class="language-twig">{% verbatim %}{% include '@atoms/_svg.twig' with {
  svg: {
    svgpath: '@atoms/svg/person.svg',
    colorOriginal: true,
  }
} %}{% endverbatim %}</code></pre>
          </td>
          <td>
            <div class="text-center">
                <span style="width: 50%;">
                  {% include '@atoms/_svg.twig' with {
                    svg: {
                      svgpath: '@atoms/svg/person.svg',
                      colorOriginal: true,
                    }
                  } %}
                </span>
            </div>
          </td>
          <td>Yes. Container div. Unless SVG has <code>width</code> and <code>height</code> set.</td>
          <td>If <code>colorOriginal: true</code> is added color from original SVG will be used.
            Will not be able to change color.</td>
          <td>Renders inline SVG</td>
        </tr>

        <tr>
          <th scope="row" class="text-nowrap">
            <a href="#svg-raw">Inline
              SVG:<br>Raw Change Color</a>
          </th>
          <td>
<pre><code class="language-twig">{% verbatim %}{% include '@atoms/_svg.twig' with {
  svg: {
    svgpath: '@atoms/svg/person.svg',
  }
} %}{% endverbatim %}</code></pre>
          </td>
          <td>
            <div class="text-center">
                <span style="width: 50%;">
                  {% include '@atoms/_svg.twig' with {
                    svg: {
                      svgpath: '@atoms/svg/person.svg',
                    }
                  } %}
                </span>
            </div>
          </td>
          <td>Yes. Container div</td>
          <td>Add class properties to container div.</td>
          <td>Renders inline SVG</td>
        </tr>

        <tr>
          <th scope="row" class="text-nowrap">
            <a href="#svg-spritesheet">Inline SVG:<br>Spritesheet</a>
          </th>
          <td>
<pre><code class="language-twig">{% verbatim %}{% include '@atoms/_svg--icon.twig' with {
  svgicon: {
    svgname: 'person',
  }
} %}{% endverbatim %}</code></pre>
          </td>
          <td>
            <div>
              {% include '@atoms/_svg--icon.twig' with {
                svgicon: {
                  svgname: 'person',
                }
              } %}
            </div>
          </td>
          <td>Yes. Container div</td>
          <td>
            <code>svgfill</code> property.
          </td>
          <td>Renders inline SVG</td>
        </tr>

        <tr>
          <th scope="row" class="text-nowrap">
            <a href="#svg-scss">Sass mixin</a>
          </th>
          <td>
<pre><code class="language-scss">{% verbatim %}.svgicon-demo--particle-mixin-person {
  @include sprite('person');
  height: 40px;
  width: 40px;
}{% endverbatim %}</code></pre>
          </td>
          <td>
            <div class="svgicon-demo--particle-mixin-person"></div>
          </td>
          <td>Yes. Code width and height.</td>
          <td>var:color.fill="#000" on raw SVG. Exposes color argument in
            sprite()
          </td>
          <td>None. Attach CSS class to element.</td>
        </tr>

        <tr>
          <th scope="row" class="text-nowrap">
            <a href="#icon-html-classes-custom">HTML Classes</a>
          </th>
          <td>
            {% set htmlclassicon = '<i class="icon--person"></i>' %}
            <pre><code class="language-markup">{% autoescape %}{{ htmlclassicon }}{% endautoescape %}</code></pre>
          </td>
          <td>
            <i class="icon--person"></i>
          </td>
          <td>Yes. Add class with width and height overrides.</td>
          <td>No. Cannot change color of SVG set with background property.</td>
          <td>None. Attach CSS class to element.</td>
        </tr>
        </tbody>
      </table>
    </div>


    <h5>Font Awesome Techniques Overview</h5>
    <div class="table-responsive">
      <table class="table mt-2">
        <thead>
        <tr>
          <th scope="col">Method</th>
          <th scope="col">Example</th>
          <th scope="col">Output</th>
          <th scope="col">Sizing</th>
          <th scope="col">Change Color</th>
          <th scope="col">Rendered HTML</th>
        </tr>
        </thead>
        <tbody>

        <tr>
          <th scope="row" class="text-nowrap">
            <a href="#fa-html">HTML Classes</a>
          </th>
          <td>{% set htmlclassuser = '<i class="fas fa-user"></i>' %}
            <pre><code class="language-markup">{% autoescape %}{{ htmlclassuser }}{% endautoescape %}</code></pre>
          </td>
          <td>
            <i class="fas fa-user"></i>
          </td>
          <td>Yes. fa-lg, fa-2x, etc.</td>
          <td>Yes</td>
          <td>None. Attach CSS class to element.</td>
        </tr>

        </tbody>
      </table>
    </div>

    <h2>SVG File Techniques</h2>
    <h4 id="svg-raw" class="mt-5">Inline SVG: Raw</h4>
    <p>We can print any SVG directly via <code>@atoms/image/_svg.twig</code>.
      <a href="/app-pl/pl/patterns/01-atoms-image-demo-image-inline/01-atoms-image-demo-image-inline.html">See
        that component for details.</a></p>


    <h4 id="svg-spritesheet" class="mt-5">Inline SVG: Spritesheet</h4>
    <p>Using the Twig template renders an SVG element directly to the DOM. The
      template accepts several arguments: <code>svgname</code> accepts the
      filename of the SVG to render, <code>svgfill</code> accepts a value to
      change the default fill color of the SVG element from black,
      <code>svgstroke</code> accepts a value to change the svg stroke color
      (default is none).</p>
    <div class="row mt-3">
      <div class="col-sm-6">
        <h5>Example</h5>
        <pre><code class="language-twig">{% verbatim %}{% include '@atoms/_svg--icon.twig' with {
  svgname: 'chevron-up',
} %}{% endverbatim %}</code></pre>
      </div>
      <div class="col-sm-6">
        <h5>Output</h5>
        {% include '@atoms/_svg--icon.twig' with {
          svgicon: {
            svgname: 'chevron-up',
          }
        } %}
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-sm-6">
        <h5>Example</h5>
        <pre><code class="language-twig">{% verbatim %}{% include '@atoms/_svg--icon.twig' with {
  svgname: 'chevron-up',
  svgfill: 'danger',
} %}{% endverbatim %}</code></pre>
      </div>
      <div class="col-sm-6">
        <h5>Output</h5>
        {% include '@atoms/_svg--icon.twig' with {
          svgicon: {
            svgname: 'chevron-up',
            svgfill: 'danger',
          }
        } %}
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-sm-6">
        <h5>Example</h5>
        <pre><code class="language-twig">{% verbatim %}{% include '@atoms/_svg--icon.twig' with {
  svgname: 'chevron-up',
  svgstroke: 'primary',
} %}{% endverbatim %}</code></pre>
      </div>
      <div class="col-sm-6">
        <h5>Output</h5>
        {% include '@atoms/_svg--icon.twig' with {
          svgicon: {
            svgname: 'chevron-up',
            svgstroke: 'primary',
          }
        } %}
      </div>
    </div>

    <h4 id="svg-scss" class="mt-5">Sass mixin: Particle</h4>
    <p>The Sass mixin is located in the components scss/_icons-generated.scss
      file which is generated by the Webpack plugin on build. Use the <code>sprite()</code>
      mixin on your CSS class with the SVG filename as an argument. This class
      also needs to have a designated height and width. For your convenience, a
      CSS class is created for each icon in svg/ with the settings below as a
      default. These follow the pattern <code>icon--[svg-filename]</code></p>
    <div class="row mt-3">
      <div class="col-sm-6">
        <h5>Example</h5>
        <pre><code class="language-scss">.svgicon-demo--particle-mixin-chevron-right {
  @include sprite('chevron-right');
  height: 40px;
  width: 40px;
}</code></pre>
      </div>
      <div class="col-sm-6">
        <h5>Output</h5>
        <div class="svgicon-demo--particle-mixin-chevron-right"></div>
      </div>
    </div>

    <h5 id="icon-sass-mixin-custom-colors" class="mt-3">Sass mixin: Particle w/ colors</h5>
    <p>To allow an SVG to be colorized, add <code>var:color.fill="#000"</code> to all path elements on the raw SVG. This
      defaults the color to black, but allows an override when using the mixin. <strong
        class="text-danger">Warning:</strong> this does involve altering the source SVG to add <code>var:color.fill="#000"</code>
      to the first <code>path</code> element.
    </p>
    <h5>Source SVG</h5>
    <pre><code class="language-html">&lt;svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 500"&gt;
  &lt;path var:color.fill="#000" d="M460,463.6c0,19.6-15.9,35.4-35.4,35.4l0,0H69.8c-19.6,0-35.5-15.8-35.6-35.4c0,0,0,0,0-0.1V428 c0-93.4,141.9-141.9,141.9-141.9s8.2-14.5,0-35.5c-29.8-22-33.5-56.4-35.5-141.9C146.8,23.1,206.9,2.3,247.1,2.3 S347.4,23,353.6,108.7c-2,85.5-5.7,119.9-35.5,141.9c-8.2,20.9,0,35.5,0,35.5S460,334.6,460,428V463.6z"/&gt;
&lt;/svg&gt;</code></pre>
    <div class="row mt-3">
      <div class="col-sm-6">
        <h5>Example</h5>
        <pre><code class="language-scss">.svgicon-demo--particle-mixin-person {
  @include sprite('person', (color: theme-color('primary')));
  height: 40px;
  width: 40px;
}</code></pre>
      </div>
      <div class="col-sm-6">
        <h4>Output</h4>
        <div class="svgicon-demo--particle-mixin-person mb-3"></div>
      </div>
    </div>


    <h4 id="icon-html-classes-custom" class="mt-5">SVG from HTML classes</h4>
    <p>All icons placed into the @atoms/svgicon/svg/ folder have a class autogenerated in the format <code>icon--{icon-filename}</code>
    </p>
    {% set htmlclassicon = '<i class="icon--chevron-up"></i>' %}
    <pre><code class="language-html">{% autoescape %}{{ htmlclassicon }}{% endautoescape %}</code></pre>
    <h4 class="mt-3">SVG Library Reference</h4>
    <div class="d-flex justify-content-between mt-2">
      {% for icon in scssIcons %}
        <div class="text-center">
          <p><i class="icon--{{ icon }}"></i></p>
          <small><code>.icon--{{ icon }}</code></small>
        </div>
      {% endfor %}
    </div>



    <h2 class="mt-5">Font Awesome Techniques</h2>
    <p>
      <a href="https://fontawesome.com/icons?d=gallery" target="_blank" rel="noopener noreferrer">Font
        Awesome</a> icons are also available for use inside patterns.</p>

    <h4 id="fa-html" class="">Font Awesome Elements</h4>

    <p>Font Awesome icons are added via <code>&lt;i/&gt;</code> elements which have the classes: <code>fas</code> and <code>fa-icon-name</code>. For example:</p>
    <pre><code class="language-html">{% autoescape %}{{ htmlclassuser }}{% endautoescape %}</code></pre>

    <p>All Font Awesome <code>&lt;i/&gt;</code> elements are converted into inline SVG via the Font Awesome 5 Javascript API. See <code>@atoms/svgicons/fontawesome.js</code> to provide more icons.</p>

    <p>There are currently <a href="https://fontawesome.com/icons?d=gallery&s=solid&m=free" target="_blank"rel="noopener noreferrer">810 free, solid icons available from Font Awesome</a>.
      Sky's the limit.</p>

    <div class="d-flex align-items-center flex-wrap" style="min-height: 10rem;">
      {% for fa_icon in ['user', 'space-shuttle', 'rocket', 'user-astronaut'] %}
        <div class="col p-3 text-center">
          <i class="fas fa-{{ fa_icon }}"></i>
          <i class="fas fa-{{ fa_icon }} text-primary" style="font-size: 1.5rem;"></i>
          <i class="fas fa-{{ fa_icon }} bg-dark text-white" style="font-size: 2rem;"></i>
          <p class="w-100 pt-3" style="white-space: nowrap;"><code>fas fa-{{ fa_icon }}</code></p>
        </div>
      {% endfor %}
    </div>

    <h4 id="fa-sass">Font Awesome Sass</h4>
    <p>Font Awesome Sass support is currently disabled in Particle to reduce the volume of generated CSS and font files. However, Font Awesome Sass can be easily included by following the <a href="https://fontawesome.com/how-to-use/on-the-web/using-with/sass" target="_blank" rel="noopener noreferrer">Font Awesome Sass guide.</a></p>

  {% endblock %}

{% endembed %}
